<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>星爆氣流斬</title>
</head>

<body>
    <h1>2021 Computer Network Project </h1>
    <img src="img/starburst" width="500" height="600" />
    <audio src="https://www.csie.ntu.edu.tw/~b07502159/vs_boss.mp4" autoplay=true loop=true>
        <p>If you are reading this, it is because your browser does not support the audio element.</p>
    </audio>
    <form action="/logout" method="POST">
        <button type="submit">GAME OVER</button>
    </form>
</body>

</html>